<section>
    <main>
        <div class="row">
            <div class="col-md-12 mb-3">
                <nz-card class="shadow-sm border">
                    <div class="d-flex justify-content-between align-items-center py-2" routerLink="/profile/view-profile">
                        <div class="d-flex">
                            <img nzIcon="user" width="50" height="50" class="mr-3 rounded-circle"
                                src="../.././../assets/images/avatars/dy_post_image.jpg">
                            <div class="d-flex flex-column">
                                <h6>Prashant Shah</h6>
                                <label for="">+91 8005632900</label>
                            </div>
                        </div>
                        <span nz-icon nzType="right" class="font-size-22 font-weight-semibold text-dark" nzTheme="outline"></span>
                    </div>
                </nz-card>
            </div>
            <div class="col-md-12 mt-3" *ngFor="let item of prfileCataloug">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <div class="d-flex align-items-center" [routerLink]="item?.url">
                        <span nz-icon class="mr-3 font-size-20 iconBg" [nzType]="item?.icon" 
                            nzTheme="outline"></span>
                        <label class="text-dark font-size-16" (click)="item?.isClick ? showLogoutModalConfirm() : ''">{{item?.name}}</label>
                    </div>
                    <span nz-icon nzType="right" class="font-size-18 font-weight-bold text-dark" nzTheme="outline"></span>
                </div>
                <div class="mb-3 px-5 text-muted">
                    <nz-divider [nzOrientation]="'center'" class="mb-2"></nz-divider>

                </div>
            </div>
        </div>
    </main>
</section>