<nz-card>
    <div class="row">
        <div class="col-lg-12 col-12 mb-2 d-flex flex-wrap justify-content-end">
            <button (click)="isVisible = true" nz-button nzType="primary" nzSize="small">
                Export
            </button>
        </div>
    </div>
    <div class="totalCount">
        <nz-table 
            #rowSelectionTable [nzData]="boothList" [nzTotal]="total_count" [nzFrontPagination]="false"
            [nzShowSizeChanger]="true" [nzPageIndex]="page" [nzPageSize]="limit"
            (nzQueryParams)="boothList[0] ? getBoothList($event) : null" [nzShowTotal]="botTotalCount"
            [nzLoading]="boothList?.length === 0" [nzScroll]="{ x: 'auto'}"
        >
            <thead>
                <tr>
                    <th>Sr. No</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>File</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of boothList; index as i">
                    <td>{{i+1}}</td>
                    <td>
                        <span>
                            {{data?.created_by?.first_name || '-'}}
                        </span>
                    </td>
                    <td>
                        <span>
                            {{data?.source_type || '-'}}
                        </span>
                    </td>
                    <td>
                        <span>
                            {{data?.process_status || '-'}}
                        </span>
                    </td>
                    <td>
                        <a [href]="data?.source_file" type="" class="text-primary">
                            File
                        </a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <ng-template #botTotalCount>
            <div class="font-weight-semibold">
                <b>{{total_count}} Results Found </b>
            </div>
        </ng-template>
    </div>
</nz-card>

<!-- export file -->
<section *ngIf="isVisible">
    <nz-modal [(nzVisible)]="isVisible" [nzTitle]="'Export File'" [nzFooter]="null"
		(nzOnCancel)="exportFileForm?.reset(); isVisible = false;">
		<ng-container *nzModalContent>
            <form nz-form [formGroup]="exportFileForm">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <nz-form-item>
                            <nz-form-label [nzSm]="8" [nzXs]="24" class=" text-left" nzRequired>{{_currLanguage == 'en' ?
                                'Source File' : 'स्रोत दस्तावेज'}}
                            </nz-form-label>
                            <nz-form-control [nzSm]="16" [nzXs]="24"
                                [nzErrorTip]="_currLanguage == 'en' ? 'File is required' : 'फ़ाइल आवश्यक है'">
                                <!-- <nz-upload
                                    formControlName="source_file"
                                    nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                                    [nzFileList]="fileList"
                                    (nzChange)="handleChange($event)"
                                >
                                    <button nz-button>
                                        <span nz-icon nzType="upload"></span>
                                        Click to Upload
                                    </button>
                                </nz-upload> -->
                                <input formControlName="source_file" nz-input type="file"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-lg-12 col-12">
                        <nz-form-item>
                            <nz-form-label [nzSm]="8" [nzXs]="24" class=" text-left" nzRequired>{{_currLanguage == 'en' ?
                                'Source Type' : 'स्रोत दस्तावेज'}}
                            </nz-form-label>
                            <nz-form-control [nzSm]="16" [nzXs]="24"
                                [nzErrorTip]="_currLanguage == 'en' ? 'Source type is required' : 'स्रोत प्रकार आवश्यक है'"
                            >
                                <input type="text" nz-input formControlName="source_type"
                                    [placeholder]="_currLanguage == 'en' ? 'Enter source type' : 'स्रोत प्रकार दर्ज करें'" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col-lg-12 col-12">
                        <div class="d-flex justify-content-center">
                            <button (click)="exportFileForm.reset()" nz-button nzType="link" type="button" class="ml-3 px-5 border">Cancel</button>
                            <button 
                                (click)="onSubmit()"
                                type="submit"
                                nz-button nzType="primary" 
                                class="px-5" 
                                [nzLoading]=""
                                [disabled]="exportFileForm.invalid ? true : false"
                            >
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </ng-container>
    </nz-modal>
</section>