<div class="header">
    <div class="logo logo-dark">
        <!-- <a href="">
            <img src="assets/images/logo/IYC_Logo_Type.png" alt="Logo" style="height: 4rem;">
            <img class="logo-fold" src="assets/images/logo/folded-logo-images.png" alt="Logo" style="height: 4.4rem">
        </a> -->
        <div>
            {{isFolded ? (global?.globalUser?.name?.en | slice:0:2 | uppercase) || '-' : (global?.globalUser?.name?.en | titlecase) || '-'}}
        </div>
    </div>
    <div class="logo logo-white">
        <a href="">
            <img src="assets/images/logo/logo-white.png" alt="Logo">
            <img class="logo-fold" src="assets/images/logo/logo-fold-white.png" alt="Logo">
        </a>
    </div>
    <div class="nav-wrap">
        <ul class="nav-left">
            <li class="desktop-toggle">
                <a (click)="toggleFold()">
                    <i nz-icon [nzType]="isFolded? 'menu-unfold':'menu-fold'" theme="outline"></i>
                </a>
            </li>
            <li class="mobile-toggle">
                <a (click)="toggleExpand()">
                    <i nz-icon [nzType]="isExpand? 'menu-fold': 'menu-unfold'" theme="outline"></i>
                </a>
            </li>
            <li>
             <div class="d-flex align-items-center">
                <!-- <img src="../../../assets/images/Ext_Images/Ellipse 1201cng_log.svg" routerLink="/voter" alt="" height="50px"
                class="h-auto mr-3"> -->
            <!-- <h4>{{_currLang == 'en' ? globalAccData?.name?.en : globalAccData?.name?.hi}}</h4> -->
             </div>
            </li>
        </ul>
        <ul class="nav-right">
            <li class="d-lg-flex d-none">
                <div class="d-flex align-items-center mr-3">
                    Voters List
                    <nz-switch [ngModel]="_currToggleValue" class="mx-3" (ngModelChange)="switchToggle()"></nz-switch>
                    Social Media
                </div>
            </li>
            <li>
               
                <button nz-button nz-tooltip nzTooltipTitle="Export" (click)="quickViewToggle()"> Logout
                </button>
                <!-- <a (click)="quickViewToggle()">
                    <i nz-icon nzType="appstore" theme="outline"></i>
                </a> -->
                <!-- <nz-drawer [nzWidth]="280" nzTitle="Quick View" [nzClosable]="false" [nzVisible]="quickViewVisible" nzPlacement="right" (nzOnClose)="quickViewToggle()">
                    <app-quick-view></app-quick-view>
                </nz-drawer> -->
            </li>
        </ul>
    </div>
</div>    