<!-- <section>
    <nz-card [nzTitle]="adAttribute" *ngFor="let item of list">
        <ng-template #adAttribute>
            <div class="d-flex align-items-center flex-wrap w-100">
                <h6 class="mr-5">Add Primary Atributes</h6>
                <nz-select nzPlaceHolder="Select Actvity" class="selectFilter"
                    nzShowSearch nzAllowClear (nzFocus)="getAttributeList()" (click)="isDirty= true">
                    <nz-option *ngFor="let item of activityList" [nzValue]="item?.id"
                        [nzLabel]="_currLanguage == 'en' ? item?.name?.en : item?.name?.hi">
                    </nz-option>
                </nz-select>
    
            </div>
        </ng-template>
    
    </nz-card>
</section> -->