<section>
    <nz-card [nzTitle]="adAttribute" *ngFor="let item of attributeList">
        <ng-template #adAttribute>
            <div class="d-flex align-items-center flex-wrap w-100">
                <h6 class="mr-5">{{_currLanguage == 'en' ? item?.primary_attribute?.name?.en :
                    item?.primary_attribute?.name?.hi}}</h6>
                <nz-select nzPlaceHolder="Select Actvity" class="selectFilter mr-2" nzShowSearch nzAllowClear
                    (nzFocus)="getAttributeList(item?.id)">
                    <nz-option *ngFor="let item of activityList" [nzValue]="item?.id"
                        [nzLabel]="_currLanguage == 'en' ? item?.name?.en : item?.name?.hi">
                    </nz-option>
                </nz-select>
                <span nz-icon nzType="plus-circle" nzTheme="outline"></span>

            </div>
        </ng-template>
        <div class="d-flex flex-wrap align-items-center">
            <!-- <nz-tag *ngFor="let tag of tags; let i = index" [nzMode]="i === 0 ? 'default' : 'closeable'"
                (nzOnClose)="handleClose(tag)">
                {{ sliceTagName(tag) }}
            </nz-tag> -->
            <nz-tag [nzColor]="'purple'">
                {{_currLanguage == 'en' ? item?.tag?.name?.en :
                    item?.tag?.name?.hi}}
            </nz-tag>
        </div>
    </nz-card>
</section>