<section>
    <div class="d-flex justify-content-end">
        <button type="submit" style="margin:2px;" nz-button nzType="" (click)="addRelaionModal()">+ Add
            Relationship</button>
    </div>
    <div class="row">
        <div class="col-lg-3 col-6" *ngFor="let item of attributeList; let i = index">
            <nz-card>
                <!--  [nzTitle]="adAttribute" -->
                <ng-template #adAttribute>
                    <div class="d-flex align-items-center flex-wrap w-100">
                        <h6 class="mr-5">{{_currLanguage == 'en' ? item?.name?.en :
                            item?.name?.hi}}</h6>

                        <nz-select [(ngModel)]="item._currTagValue" nzPlaceHolder="Enter Tags to Map"
                            class="selectFilter mr-2" nzShowSearch nzAllowClear (nzFocus)="getTagLIst(item?.id)"
                            (keyup)="test($event,i)">
                            <nz-option *ngFor="let item of tagsList"
                                [nzValue]="item?.name?.en ? item?.name?.en : item?.name?.hi"
                                [nzLabel]="_currLanguage == 'en' ? item?.name?.en : item?.name?.hi">
                            </nz-option>
                        </nz-select>
                        <span nz-icon nzType="plus-circle" class="mr-3" nzTheme="outline"
                            (click)="addTagForAttribute(item, i)"></span>
                        <ng-template #indicatorTemplate><span nz-icon nzType="loading"
                                *ngIf="attributeList[i]._isVisible">

                            </span></ng-template>
                        <nz-spin nzSimple [nzIndicator]="indicatorTemplate"></nz-spin>
                    </div>
                </ng-template>
                <div class="d-flex flex-wrap align-items-center">
                    <!-- *ngFor="let tag of item?.tags; let i = index" -->
                    <!-- <nz-tag >
                       
                    </nz-tag> -->
                    <div class="d-flex justify-content-start">
                        <div class="d-flex flex-column mr-3">
                            <h6> {{ item?.tag ? (_currLanguage == "en" ? item?.tag?.name?.en + " " : item?.tag?.name?.hi + " "): ""
                                }}</h6>
                            <label> {{curr == "en" ? item?.to_voter_id[0]?.FIRST_NAME_EN +
                                item?.to_voter_id[0]?.LAST_NAME_EN : item?.to_voter_id[0]?.FIRST_NAME_HI +
                                item?.to_voter_id[0]?.LAST_NAME_HI}}
                                {{" "  + item?.to_voter_id[0]?.EPIC_NO}} </label>
                        </div>
                    </div>
                </div>
            </nz-card>
        </div>
    </div>
</section>


<nz-modal [(nzVisible)]="isAddRelationShip" nzTitle="Add Relationship" (nzOnCancel)="isAddRelationShip = false;"
    (nzOnOk)="addRelationShip()">
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="addRelationShipForm">
            <div class="row">
                <div class="col-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" class=" text-left">{{_currLanguage == 'en' ?
                            'Enter Tag Name' : 'टैग दर्ज करें'}}
                        </nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24"
                            [nzErrorTip]="_currLanguage == 'en' ? 'Please enter Tag Name' : 'कृपया टैग नाम दर्ज करें'">
                            <input type="text" nz-input formControlName="tag_name"
                                [placeholder]="_currLanguage == 'en' ? 'Enter Tag Name' : 'टैग दर्ज करें'" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" class=" text-left">{{_currLanguage == 'en' ?
                            'Assign Voter' : 'मतदाता का चयन करें'}}
                        </nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24"
                            [nzErrorTip]="_currLanguage == 'en' ? 'Please select voter' : 'कृपया मतदाता का चयन करें'">
                            <nz-select nzShowSearch class="selectFilter mb-2 mr-3" formControlName="to_voter_id"
                                (nzFocus)="getVoters()" (keyup)="getVoters($event)" nzAllowClear
                                [nzPlaceHolder]="_currLanguage == 'en' ? 'Assign Voter' : 'मतदाता का चयन करें'">
                                <nz-option *ngIf="isSelectLoader['voter']" nzDisabled nzCustomContent>
                                    <span nz-icon nzType="loading" class="loading-icon"></span>
                                    Loading Data...
                                </nz-option>
                                <nz-option *ngFor="let item of voters" [nzValue]="item.id"
                                    [nzLabel]=" _currLanguage == 'en' ?  item?.first_name_en + item?.last_name_en + (item?.epic_no ? ' ' +  item?.epic_no  : '') : item?.last_name_hi + item?.last_name_hi + (item?.epic_no ? ' ' + item?.epic_no  : '')">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </ng-container>
</nz-modal>