<div class="d-md-block d-none">
    <div class="d-flex justify-content-end mb-3">
        <button nz-button nzType="primary" routerLink="/media-account/add-account">+ Add New Account </button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nz-card [nzLoading]="api_loader['list']">
                <div class="row">
                    <div class="col-12 col-lg-4 mb-2">
                        <div class="d-flex">
                            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                                <input type="text" nz-input placeholder="Search By Name"
                                    [(ngModel)]="_currSearchValue" (keyup.enter)="getaccountList()" />
                            </nz-input-group>
                            <ng-template #suffixIconButton>
                                <button nz-button nzType="secondary" nzSearch (click)="getTaskList()">
                                    <i nz-icon nzType="search"></i>
                                </button>
                            </ng-template>
                            <button nz-button nzType="default" class="ml-3 mb-2" nzShape="circle" (click)="resetFilter()">
                                <i nz-icon nzType="undo"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-8 col-12 mb-2 d-flex flex-wrap justify-content-end">
            
                        <nz-select nzShowSearch class="selectFilter mb-2 mr-3" nzPlaceHolder="Select Social Media" [(ngModel)]="currSocialMedia" (ngModelChange)="getaccountList()" nzAllowClear>
                            <nz-option [nzValue]="'FACEBOOK'" [nzLabel]="'Facebook'">
                            </nz-option>
                            <nz-option [nzValue]="'TWITTER'" [nzLabel]="'Twitter'"></nz-option>
                            <nz-option [nzValue]="'LINKED-IN'" [nzLabel]="' LinkedIn'">
                            </nz-option>
                        </nz-select>
                        <nz-select nzShowSearch class="selectFilter mb-2 mr-3" nzPlaceHolder="Select Link Type" [(ngModel)]="currLinkTpye" (ngModelChange)="getaccountList()" nzAllowClear>
                            <nz-option [nzValue]="'FOR'" [nzLabel]="'For'">
                            </nz-option>
                            <nz-option [nzValue]="'AGAINSST'" [nzLabel]="'Against'">
                            </nz-option>
                        </nz-select>
                     
                    </div>
                </div>
                <div class="totalCount">
                    <nz-table #rowSelectionTable [nzData]="accountList" [nzTotal]="total_count" [nzFrontPagination]="false"
                    [nzShowSizeChanger]="true" [nzPageIndex]="pageIndex" [nzPageSize]="globalPageSize"
                    (nzQueryParams)="accountList[0] ? getaccountList($event) : null" [nzShowTotal]="botTotalCount"
                    [nzLoading]="api_loader['list']" [nzScroll]="{ x: '1500px', y: '50vh' }">
                    <thead>
                        <tr>
                            <th nzWidth="5rem">Sr. No</th>
                            <th>Link</th>
                            <th>Link Type</th>
                            <th>Social Media</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of accountList; let i = index">
                            <td nzWidth="5rem"> {{i+1}}</td>
                            <td> <a [href]="data.link">{{ data.link }}</a> </td>
                            <td>{{ data.link_type}}</td>
                            <td>{{ data.social_handle }}</td>
                            <td>
                                <button nz-button nzType="link" class="border" nzSize="small"
                                    routerLink="/media-account/edit-account" [queryParams]="{id:data?.id}">Edit</button>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
                    <ng-template #botTotalCount>
                        <div class="font-weight-semibold">
                            <b>{{total_count}} Results Found </b>
                        </div>
                    </ng-template>
                </div>
                

            </nz-card>
        </div>

    </div>
</div>