<section>
    <nz-card [nzLoading]="api_loader['card']">
        <div class="d-flex justify-content-end mb-3 align-items-center" *ngIf="isEdit">
            <h6 class="mb-0">Status:
                <span class="font-weight-normal mx-2"
                    [ngClass]="_currTeamData?.status?.name == 'APPROVED' ? 'text-success' : (_currTeamData?.status == 'TO-DO' ? 'text-danger' : 'text-info')">
                    {{_currTeamData?.status?.name}}
                </span>
            </h6> <button nz-button nzSize="small" nzType="primary" (click)="isUpdateStatus = true">Update
                Status</button>
        </div>
        <form nz-form [formGroup]="teamForm">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" class=" text-left" nzRequired>{{_currLanguage == 'en' ?
                            'First Name' : 'पहला नाम'}}
                        </nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24"
                            [nzErrorTip]="_currLanguage == 'en' ? 'Please enter first name' : 'कृपया पहला नाम जोड़ें'">
                            <input type="text" nz-input formControlName="first_name"
                                [placeholder]="_currLanguage == 'en' ? 'Enter First Name' : 'कृपया पहला नाम जोड़ें'" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-lg-6 col-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" class=" text-left" nzRequired>{{_currLanguage == 'en' ?
                            'Last Name' : 'अंतिम नाम'}}
                        </nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24"
                            [nzErrorTip]="_currLanguage == 'en' ? 'Please enter last name' : 'कृपया अंतिम नाम जोड़ें'">
                            <input type="text" nz-input formControlName="last_name"
                                [placeholder]="_currLanguage == 'en' ? 'Enter Last Name' : 'कृपया अंतिम नाम जोड़ें'" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-lg-6 col-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" class=" text-left" nzRequired>{{_currLanguage == 'en' ?
                            'Mobile' : 'मोबाइल'}}
                        </nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24"
                            [nzErrorTip]="_currLanguage == 'en' ? 'Please enter mobile' : 'कृपया मोबाइल नंबर जांचें'">
                            <input type="text" nz-input formControlName="mobile"
                                [placeholder]="_currLanguage == 'en' ? 'Enter Mobile' : 'कृपया मोबाइल नंबर जांचें'" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-lg-6 col-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" class=" text-left" >{{_currLanguage == 'en' ?
                            'Email' : 'ईमेल'}}
                        </nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24"
                            [nzErrorTip]="_currLanguage == 'en' ? 'Please enter email' : 'कृपया ईमेल जांचें'">
                            <input type="text" nz-input formControlName="email"
                                [placeholder]="_currLanguage == 'en' ? 'Enter email' : 'कृपया ईमेल जांचें'" />
                        </nz-form-control>
                    </nz-form-item>
                </div>


                <div class="col-lg-6 col-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" class=" text-left" nzRequired>{{_currLanguage == 'en' ?
                            'Team Type' : 'टीम का प्रकार'}}
                        </nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24"
                            [nzErrorTip]="_currLanguage == 'en' ? 'Please select Team type' : 'कृपया टीम का प्रकार चुनें'">
                            <!-- (keyup)="getUserType()" -->
                            <nz-select nzShowSearch class="selectFilter mb-2 mr-3" formControlName="user_type"
                                (nzFocus)="getUserType()" nzAllowClear
                                [nzPlaceHolder]="_currLanguage == 'en' ? 'Select Team Type' : 'कृपया टीम का प्रकार चुनें'">
                                <nz-option *ngFor="let item of userList" [nzValue]="item.id" [nzLabel]="item?.name">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="col-lg-6 col-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" class=" text-left">{{_currLanguage == 'en' ?
                            ' Epic No' : 'Epic No'}}
                        </nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24" 
                            [nzErrorTip]="_currLanguage == 'en' ? 'Please enter your Epic No' : 'Please enter your Epic No'">
                            <input type="text" [readOnly]="isEdit ? true : false" nz-input formControlName="EPIC_NO"
                                [placeholder]="_currLanguage == 'en' ? 'Epic No' : ' Epic No'" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                
                <div class="col-lg-6 col-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" class=" text-left">{{_currLanguage == 'en' ?
                            'Date Of Birth' : 'जन्म की तारीख'}}
                        </nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24"
                            [nzErrorTip]="_currLanguage == 'en' ? 'Please select Date Of Birt' : 'कृपया जन्म की तारीख चुनें'">
                            <!-- (keyup)="getUserType()" -->
                            <nz-date-picker formControlName="date_of_birth"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>

               
                <div class="col-lg-6 col-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" class=" text-left" nzRequired>{{_currLanguage == 'en' ?
                            'Designation' : 'पद'}}
                        </nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24"
                            [nzErrorTip]="_currLanguage == 'en' ? 'Please enter Designation' : 'कृपया पद का प्रकार चुनें'">
                            <input type="text" nz-input formControlName="designation"
                                [placeholder]="_currLanguage == 'en' ? 'Enter Designation' : 'कृपया पद का प्रकार चुनें'" />
                            <!-- <nz-select nzShowSearch class="selectFilter mb-2 mr-3" formControlName="designation"
                                (nzFocus)="getdesignationList()"  nzAllowClear
                                [nzPlaceHolder]="_currLanguage == 'en' ? 'Select Designation' : 'कृपया पद का प्रकार चुनें'">
                                <nz-option *ngFor="let item of designationList" [nzValue]="item.id"
                                    [nzLabel]="item?.name">
                                </nz-option>
                            </nz-select> -->
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <!-- ********Other details******** -->
                <div class="col-lg-6 col-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" class=" text-left">{{_currLanguage == 'en' ?
                            'Landline Number' : 'लैंडलाइन नंबर'}}
                        </nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24"
                            [nzErrorTip]="_currLanguage == 'en' ? 'Please enter Landline Number' : 'कृपया लैंडलाइन नंबर जांचें'">
                            <input type="text" nz-input formControlName="landline_number"
                                [placeholder]="_currLanguage == 'en' ? 'Enter Landline Number' : 'कृपया लैंडलाइन नंबर जांचें'" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-lg-6 col-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" class=" text-left">{{_currLanguage == 'en' ?
                            'Whatsapp Number' : 'लैंडलाइन नंबर'}}
                        </nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24"
                            [nzErrorTip]="_currLanguage == 'en' ? 'Please enter Whatsapp Number' : 'कृपया लैंडलाइन नंबर जांचें'">
                            <input type="text" nz-input formControlName="whatsapp_number"
                                [placeholder]="_currLanguage == 'en' ? 'Enter Whatsapp Number' : 'कृपया लैंडलाइन नंबर जांचें'" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-lg-6 col-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" class=" text-left">{{_currLanguage == 'en' ?
                            'Studies' : 'अध्ययन करते हैं'}}
                        </nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24"
                            [nzErrorTip]="_currLanguage == 'en' ? 'Please enter studies' : 'कृपया अध्ययन जांचें'">
                            <input type="text" nz-input formControlName="studies"
                                [placeholder]="_currLanguage == 'en' ? 'Enter studies' : 'कृपया अध्ययन करते हैं जांचें'" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <!-- <div class="col-lg-6 col-12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" class=" text-left">{{_currLanguage == 'en' ?
                            'Speed' : 'रफ़्तार'}}
                        </nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24"
                            [nzErrorTip]="_currLanguage == 'en' ? 'Please enter Speed' : 'कृपया रफ़्तार जांचें'">
                            <input type="text" nz-input formControlName="speed"
                   data.append('speed', this.teamForm.get('speed').value)<nz-form-item>
                        <nz-form-label [nzSm]="8" [nzXs]="24" class=" text-left" nzRequired>{{_currLanguage == 'en' ?
                            'Email' : 'ईमेल'}}
                        </nz-form-label>
                        <nz-form-control [nzSm]="16" [nzXs]="24"
                            [nzErrorTip]="_currLanguage == 'en' ? 'Please enter email' : 'कृपया ईमेल जांचें'">
                            <input type="text" nz-input formControlName="email"
                                [placeholder]="_currLanguage == 'en' ? 'Enter email' : 'कृपया ईमेल जांचें'" />
                        </nz-form-control>
                    </nz-form-item>
                </div> -->

            </div>
        </form>
        <div class="d-flex justify-content-center">
            <button nz-button nzType="primary" class="px-5" (click)="submitForm()"
            [disabled]="teamForm.invalid ? true : false"  [nzLoading]="api_loader['button']">Save</button>
            <button nz-button nzType="link" class="ml-3 px-5 border" routerLink="/team-management">Cancel</button>
        </div>
    </nz-card>
</section>


<nz-modal [(nzVisible)]="isUpdateStatus" nzTitle="Update Status" (nzOnCancel)="isUpdateStatus = false;"
    (nzOnOk)="changeTaskStatus($event)">
    <ng-container *nzModalContent>
        <div class="d-flex  justify-content-center align-items-center flex-column mb-5">

            <div>
                Select Status:
                <nz-select nzShowSearch class="selectFilter mb-2 mx-3" [(ngModel)]="_curStatusId"
                    (nzFocus)="searchStaticDataGlobalFunction('UserStatus')"
                    nzAllowClear nzPlaceHolder="Select Status">
                    <nz-option *ngFor="let item of statusList" [nzValue]="item.id" [nzLabel]="item?.name">
                    </nz-option>
                </nz-select>
            </div>
            <div class="d-flex">
                Remarks: <textarea rows="4" class="mx-3" nz-input [(ngModel)]="remarks" placeholder="Enter Remarks"></textarea>
              
            </div>

        </div>
    </ng-container>
</nz-modal>