<!-- <div class="d-flex mb-3">
	<h4><a routerLink="/dashboard/home" class="text-dark">
			<span class="font-size-16 font-weight-semibold mx-3" nz-icon nzType="home" nzTheme="fill"></span>Dashboard
		</a></h4>

</div> -->
<main>
	<section>
		<div class="row mb-3 h-100">
			<div class="col-md-3 pb-3 h-100 min-200px">
				<nz-spin [nzSpinning]="!postDetailData" [nzIndicator]="indicatorTemplate" nzSimple>
					<ng-template #indicatorTemplate>
						<div>
							<span nz-icon nzType="loading" class="img-spinner font-50px m-auto"></span>
						</div>
					</ng-template>
				</nz-spin>
				<img *ngIf="postDetailData?.image" [src]="postDetailData?.image" nz-image class="w-100"/>
				<div *ngIf="postDetailData && !postDetailData?.image" class="d-flex post-image-height">
					<span class="m-auto">No Image</span>
				</div>
			</div>
			<div class="col-md-9">
				<h3>Post ID - {{postDetailData?.post_id}}</h3>
				<h5 class="text-muted">Post Date - {{postDetailData?.post_on ? (postDetailData?.post_on | date:'medium') : ''}}</h5>
				<p>{{postDetailData?.title}}</p>

				

				<div class="row">
					<div class="col-md-4 mb-3" *ngFor="let a_data of listMatricsData; index as i">
						<nz-card class="h-100 d-flex align-items-center pointer">
							<div class="media align-items-center">
								<nz-avatar [nzSize]="60" [nzIcon]="a_data.icon" [ngClass]="a_data.class"></nz-avatar>
								<div class="m-l-15">
									<h4 class="m-b-0">{{a_data.count}}</h4>
									<p class="m-b-0 text-dark">{{a_data.name}}</p>
								</div>
							</div>
						</nz-card>
					</div>
				</div>

			</div>
		</div>

	</section>

	<!-- <section class="pt-3">
		
	
	</section> -->

	<section>
		<div class="row">
			<div class="col-md-4 col-12">
				<nz-card [nzTitle]="titleShared" class="card">
					<ng-template #titleShared>
						<div class="row">
							<h6 class="col-md-6 d-flex">
								<span class="mt-auto mb-auto">
									<span nz-icon nzType="message" nzTheme="fill" class="mr-3"></span> 
									Shared List
								</span>
							</h6>
							<span class="col-md-6">
								<nz-select
									[(ngModel)]="sharedType"
									(ngModelChange)="getSharedList()"
									[nzPlaceHolder]="_currLanguage == 'en' ? 'Select Type' : 'प्रकार चुनें'"
									class="w-100"
									nzAllowClear
								>
									<nz-option
										[nzValue]="'Reaction'"
										[nzLabel]="'Reaction'"
									></nz-option>
								</nz-select>
							</span>
						</div>
					</ng-template>
					<div class="totalCount">
						<ng-template #botTotalCount>
							<div class="font-weight-semibold">
								<b>{{shareTotalCount}} Results Found </b>
							</div>
						</ng-template>
						<nz-table #rowSelectionTable [nzData]="sharedList" [nzTotal]="shareTotalCount"
							[nzFrontPagination]="false" [nzShowSizeChanger]="true" [nzPageIndex]="sharePageInd"
							[nzPageSize]="sharePageSize" (nzQueryParams)="sharedList[0] ? getSharedList($event) : null"
							[nzShowTotal]="botTotalCount" [nzLoading]="api_loader['shared']" [nzScroll]="{ y: '50vh' }"
						>
							<thead>
								<tr>
									<!-- <th nzWidth="3rem">#</th> -->
									<th nzWidth="70px">Sr No.</th>
									<th>Name</th>
									<!-- <th>Response Type</th>
							<th>Action Type</th> -->
									<th nzWidth="100px">Re-Share</th>
								</tr>
							</thead>
							<tbody>
								<ng-container *ngFor="let data of sharedList; let i = index">
									<tr>
										<!-- <td [nzExpand]="expandSet.has(data.id)"
											(nzExpandChange)="onExpandChange(data.id, $event, i)"></td> -->
										<td>{{i+1}}</td>
										<td>{{ data.user_details.name }}</td>
										<!-- <td{ data.r>{esponse_type }}</td>
									<td>{{ data.user_details.user_id }}</td> -->
										<td>0</td>
									</tr>
									<tr [nzExpand]="expandSet.has(data.id)">
										<div class="justify-content-center">
											<nz-page-header class="site-page-header header_bg_dark"
												[nzTitle]="trailTitle">
											</nz-page-header>
											<nz-card class="mb-md-0 border" *ngFor="let item of data?.auditDataset"
												[nzLoading]="_currentAuditId == data.id ? api_loader['accordian'] : null">

												<nz-collapse nzAccordion [nzExpandIconPosition]="right">
													<nz-collapse-panel [nzHeader]="trail_header">
														<ng-template #trail_header>
															<h5>Created By: {{item?.created_by}} <span
																	class="text-muted ml-3 font-size-12 font-weight-normal">({{item?.created_at
																	| date:'medium'}})</span></h5>
														</ng-template>
														<div class="d-flex flex-column mb-2"
															*ngFor="let sub_sec_audit of item?.key_changes">
															<h6>{{ sub_sec_audit.key }} content</h6>
															<div class="d-flex align-items-center">
																<label class="">{{sub_sec_audit.old_value}}</label>
																<span nz-icon nzType="arrow-right"
																	class="text-danger mx-3" nzTheme="outline"></span>
																<label class="mr-3">{{sub_sec_audit.new_value}}</label>
															</div>
														</div>
													</nz-collapse-panel>
												</nz-collapse>
											</nz-card>
											<ng-template #trailTitle>
												<div class="ml-md-2">
													<h5 class="mb-0">
														<!-- <i nz-icon class="mr-2" nzType="user" nzTheme="outline"></i> -->
														Reshare
													</h5>
												</div>
											</ng-template>
										</div>
									</tr>
								</ng-container>
								<ng-container *ngFor="let data of emptySharedList; let i = index">
									<tr>
										<!-- <td>{{data || '-'}}</td> -->
										<td>{{sharedList?.length + i + 1}}</td>
										<td>{{data || '-'}}</td>
										<td>{{data || '-'}}</td>
									</tr>
								</ng-container>
							</tbody>
						</nz-table>
					</div>

				</nz-card>
			</div>

			<div class="col-md-4">

				<div class="totalCount">
					<ng-template #likedTitle>
						<div class="row">
							<h6 class="col-md-6 d-flex">
								<span class="mt-auto mb-auto">
									<span nz-icon nzType="message" nzTheme="fill" class="mr-3"></span> 
									Liked List
								</span>
							</h6>
							<span class="col-md-6">
								<nz-select
									[(ngModel)]="likedType"
									(ngModelChange)="getlikedList()"
									[nzPlaceHolder]="_currLanguage == 'en' ? 'Select Type' : 'प्रकार चुनें'"
									class="w-100"
									nzAllowClear
								>
									<nz-option
										[nzValue]="'Reaction'"
										[nzLabel]="'Reaction'"
									></nz-option>
								</nz-select>
							</span>
						</div>
					</ng-template>
					<ng-template #likedFooter>
						<div class="font-weight-semibold">
							<b>{{likeTotalCount}} Results Found </b>
						</div>
					</ng-template>
					<nz-card [nzTitle]="likedTitle" class="card">
						<nz-table #rowSelectionTable [nzData]="likedList" [nzTotal]="likeTotalCount"
							[nzFrontPagination]="false" [nzShowSizeChanger]="true" [nzPageIndex]="likePageInd"
							[nzPageSize]="likePageSize" (nzQueryParams)="likedList[0] ? getlikedList($event) : null"
							[nzShowTotal]="likedFooter" [nzLoading]="api_loader['liked']" [nzScroll]="{y: '50vh' }">

							<thead>
								<tr>
									<!-- <th nzWidth="3rem">#</th> -->
									<th nzWidth="70px">Sr No.</th>
									<th>Name</th>
									<!-- <th>Response Type</th>
							<th>Action Type</th> -->
									<th nzWidth="120px">Reaction Type</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let data of likedList; let i = index">
									<!-- <td [nzExpand]="expandSet.has(data.id)"
											(nzExpandChange)="onExpandChange(data.id, $event, i)"></td> -->
									<td *ngIf="likePageInd == 1">{{i+1}}</td>
									<td *ngIf="likePageInd > 1">{{( (likePageInd-1) * likePageSize) +
										(i+1)}}
									</td>
									<td>{{ data.user_details.name }}</td>
									<!-- <td>{{ data.response_type }}</td>
						<td>{{ data.user_details.user_id }}</td> -->
									<td>{{ data.reaction_type }}</td>
								</tr>
								<tr *ngFor="let data of emptyLikedList; index as i">
									<!-- <td>{{data || '-'}}</td> -->
									<td>{{likedList?.length + i + 1}}</td>
									<td>{{data || '-'}}</td>
									<td>{{data || '-'}}</td>
								</tr>
							</tbody>
						</nz-table>
					</nz-card>
				</div>
			</div>

			<!-- Comments -->
			<div class="col-md-4">

				<div class="totalCount">
					<ng-template #commentTitle>
						<div class="row">
							<h6 class="col-md-6 d-flex">
								<span class="mt-auto mb-auto">
									<span nz-icon nzType="message" nzTheme="fill" class="mr-3"></span> 
									Comments List
								</span>
							</h6>
							<span class="col-md-6">
								<nz-select
									[nzPlaceHolder]="_currLanguage == 'en' ? 'Select Type' : 'प्रकार चुनें'"
									class="w-100"
								>
									<nz-option
										[nzValue]="'Reaction'"
										[nzLabel]="'Reaction'"
									></nz-option>
								</nz-select>
							</span>
						</div>
					</ng-template>
					<ng-template #comentFooter>
						<div class="font-weight-semibold">
							<b>{{commentTotalCount}} Results Found </b>
						</div>
					</ng-template>

					<nz-card [nzTitle]="commentTitle" class="card">

						<nz-table #rowSelectionTable [nzData]="commentList" [nzTotal]="commentTotalCount"
							[nzFrontPagination]="false" [nzShowSizeChanger]="true" [nzPageIndex]="commentPageInd"
							[nzPageSize]="commentPageSize"
							(nzQueryParams)="commentList[0] ? getCommentList($event) : null"
							[nzShowTotal]="comentFooter" [nzLoading]="api_loader['comments']" [nzScroll]="{ y: '50vh' }">
							<thead>
								<tr>
									<!-- <th nzWidth="3rem">#</th> -->
									<th nzWidth="70px">Sr No.</th>
									<th>Name</th>
									<!-- <th>Response Type</th>
							<th>Action Type</th> -->
									<th>Comment</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let data of commentList; let i = index">
									<!-- <td [nzExpand]="expandSet.has(data.id)"
											(nzExpandChange)="onExpandChange(data.id, $event, i)"></td> -->
									<td *ngIf="commentPageInd == 1">{{i+1}}</td>
									<td *ngIf="commentPageInd > 1">{{( (commentPageInd-1) * commentPageSize) +
										(i+1)}}
									</td>
									<td>{{ data.user_details.name }}</td>
									<!-- <td>{{ data.response_type }}</td>
							<td>{{ data.user_details.user_id }}</td> -->
									<td>
										{{ data.comment_text ? (data.comment_text | slice:0:20): '-' }}
										{{data.comment_text?.length > 20 ? '...' : ''}}
									</td>
								</tr>
								<tr *ngFor="let data of emptyCommentList; index as i">
									<!-- <td>{{data || '-'}}</td> -->
									<td>{{commentList?.length + i + 1}}</td>
									<td>{{data || '-'}}</td>
									<td>{{data || '-'}}</td>
								</tr>
							</tbody>
						</nz-table>
					</nz-card>
				</div>
			</div>
		</div>
	</section>
</main>