<section>
    <main>
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center my-3">
                    <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" style="height: auto; max-height: 150px; max-width: 150px; width: unset;"></nz-avatar>
                </div>
            </div>

            <div class="col-md-12 my-3" *ngFor="let item of profileLogs">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="d-flex flex-column">
                        <label>{{item?.title}}</label>
                        <h6 class="mb-0">{{item?.value}}</h6>
                    </div>
                    <div>
                        <img [src]="item?.icon" alt="">
                    </div>
                </div>
                <nz-divider class="my-2"></nz-divider>
            </div>
           
        </div>
        <div class="d-flex justify-content-center my-3">
            <button nz-button nzType="primary" class="font-weight-semibold px-5"
            routerLink="/profile/edit-profile" [queryParams]="{id:'2'}">Edit Profile</button>
        </div>
    </main>
</section>