<section>
    <main>
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center mb-3">
                    <nz-avatar nzIcon="user" [nzSrc]="'../.././../assets/images/avatars/default.png'" style="height: auto; max-height: 100px; max-width: 120px; width: unset;"></nz-avatar>
                </div>
            </div>

            <div class="col-md-12 my-3" *ngFor="let item of profileLogs">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="d-flex flex-column">
                        <div class="d-flex align-items-center ">
                            <img [src]="item?.icon" class="=" alt=""> 
                            <h6 class="mr-3 mb-0 ml-1">{{item?.title}}</h6>
                            <label>{{item?.value}}</label>
                        </div>  
                    </div>
                </div>
                <nz-divider class="my-2"></nz-divider>
            </div>
           
        </div>
        <!-- <div class="d-flex justify-content-center my-3">
            <button nz-button nzType="primary" class="font-weight-semibold px-5"
            routerLink="/profile/edit-profile" [queryParams]="{id:this._currGlobalData.id}">Edit Profile</button>
        </div> -->
    </main>
</section>